version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=db_memoire
      - POSTGRES_USER=user_memoire
      - POSTGRES_PASSWORD=pass_memoire

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgres://user_memoire:pass_memoire@db:5432/db_memoire
    depends_on:
      - db

volumes:
  postgres_data: